.App {
  background-color: #e4ccb6;
  min-height: 100vh;
  height: 100%;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 56px;

}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px; 
}
.home-text {
  padding-left: 70px;
  padding-bottom: 280px;
}
.signin-card {
  margin-top: 40px;
}

.feed-card {
  padding: 20px;
  width: 500px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.feed--username {
  padding-top: 30px;
  width: 500px;
  font-size: 1.5rem;
}

.card-form {
  width: 400px;
  padding: 20px;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;

}

.upload-card {
  margin-top: 40px;
}

.nav-btn {
  padding-left: 5px;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}