.App {
  background-color: #e4ccb6;
  height: 100vh;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-text {
  padding-left: 70px;
  padding-bottom: 280px;
}
.home-card {
  margin-top: 40px;
}
.feed-card {
  padding: 20px;
  width: 500px;
  align-self: center;
}

.card-form {
  width: 400px;
  padding: 20px;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}